<!-- <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#moving-navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Project name</a>
</div> -->

<nav id="moving-navbar" class="navbar navbar-inverse test-header navbar-collapse collapse ">
  <ul class="nav navbar-nav moving-nav">
    <li class="pull-right">
      <a href="#" class="dropdown-toggle moving-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=  user_signed_in? ? "#{current_user.full_name.upcase}" : "PROFILE" %><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
        <li><%= link_to "My Profile", new_stat_path %></li>
        <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
        <% else %>
        <li class="">
          <a type="button" data-toggle="modal" data-target="#LogInModal">
            Log In
          </a></li>
        <li class="">
          <a type="button" data-toggle="modal" data-target="#SignUpModal">
            Sign Up
          </a></li>
        <% end %>
      </ul>
    </li>
    <li class="pull-right"><a href="#" class="moving-link">MEAL PLANNER</a></li>
    <li class="pull-right"><a href="#" class="moving-link">ABOUT</a></li>
    <li class="pull-right"><a href="#" class="moving-link">HOME</a></li>
  </ul>
</nav>
