<div class="container about-wrapper">
  <h1>About This App</h1>
  <div class="about-info">
    <h3 style="color: red">Disclaimer</h3>
    <h4 style="color: red">This website is meant to be a demonstration site ONLY. It was developed as the final project for our CodeCore Web Development bootcamp. All the recipes were pulled from user submitted posts from bodybuilding.com and muscleandstrength.com. As such, calorie and macronutrient accuracy of the recipes in this app are NOT guaranteed.</h4>
    <h3 class="about-section-title">What's the purpose of this app?</h3>
    <h4>We designed Eat Free to save you time and energy when it comes to weight loss. We have tools to calculate your personal calorie requirements depending on your desired weight loss rate. No more wondering what foods you can or cannot eat, by following the IIFYM (If It Fits Your Macros) strategy, you can eat whatever you want while losing weight! (Yes that includes junk food in moderate quantities)</h4>
    <h3 class="about-section-title">What is IIFYM?</h3>
    <h4><strong>If It Fits Your Macros</strong> is a diet strategy which the following approach: you can eat any foods you like, as long as it fits in your daily caloric budget and your daily macronutrient split (protein, carbohydrates, and fat). The gist of the idea is that if you eat oatmeal and whole wheat bread, the result (as far as body composition is concerned) is the same as if you were to eat the exact same amount of carbohydrates and fats from donuts, as long as calorie intake is equal and macronutrient targets are hit. According to this theory, gaining body fat is not about the types of foods you consume, rather the excess calories you are consuming.</h4>
    <h3 class="about-section-title">How does it work?</h3>
    <h4>By entering your physical stats the app will calculate your TDEE. Your TDEE (Total Daily Energy Expenditure) is an estimate of your maintenance level, that is, the amount of calories you must eat to maintain your current weight. From that as well as a desired weight loss rate that you specify, the app also calculates the maximum amount of calories you can consume per day to achieve said weight loss. From there the app provides a recipe list of various meals and snacks for you to build your meal plan from, ensuring that your daily calorie limit is not surpassed. A small lee-way of +50 calories is allowed provide ease of planning.</h4>

  </div>

  <h1>Frequently Asked Questions</h1>
  <div class="about-info">
    <h3 class="about-section-title">What are macros and why are they important?</h3>
    <h4>Macronutrients are what make up the caloric content of a food. Sometimes referred to as "macros" the three categories of macronutrients are carbohydrates, fat, and protein. The caloric combination of the macros is where the total number of calories comes from. In general, proteins and carbohydrates provide 4 calories per gram whereas fats provide 9 calories per gram. A good balance of macros is essential; a severe imbalance in any of the three macronutrients could lead to malnutrition and eventually long term health issues. </h4>
    <h3 class="about-section-title">How should I split my macros?</h3>
    <h4>There is no optimal macros split as everyone has different requirements. A professional athlete or bodybuilder will have significantly greater protein requirements than the average person with an interest in fitness. In addition, depending on what your goals are, (eg. weight loss, strength gains, mass gains, performance etc.) different splits may be more appropriate. That said, a well accepted starting place is the 40/40/20 split, a diet where 40% of your calories come from protein sources, 40% from carbohydrate sources and 20% from fat sources. The actual numbers can be adjusted over the course of the diet to meet your personal needs.</h4>
    <h3 class="about-section-title">How can I track my macros?</h3>
    <h4>Currently this app only tracks your macros composition on a day to day basis. Specifying a desired macros split and building meal plans that meet those macros is a feature that will be implemented in the future.</h4>
    <h3 class="about-section-title">How can the net amount of entropy of the universe be massively decreased?</h3>
    <h4>THERE IS INSUFFICIENT DATA FOR A MEANINGFUL ANSWER.</h4>
  </div>
</div>
