<div class="container about-wrapper">
  <h1>About This App</h1>
  <div class="about-info">
    <h3 style="color: red">Disclaimer</h3>
    <h4 style="color: red">This website is meant to be a demonstration site ONLY. It was developed as the final project for our CodeCore Web Development bootcamp. All the recipes were pulled from user submitted posts from bodybuilding.com and muscleandstrength.com. As such, calorie and macronutrient accuracy of the recipes in this app are NOT guaranteed.</h4>
    <h3 class="about-section-title">What's the purpose of this app?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <h3 class="about-section-title">How does it work?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>

  </div>

  <h1>Frequently Asked Questions</h1>
  <div class="about-info">
    <h3 class="about-section-title">What are macros and why are they important?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <h3 class="about-section-title">How should I split my macros?</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <h3 class="about-section-title">How can the net amount of entropy of the universe be massively decreased?</h3>
    <h4>THERE IS INSUFFICIENT DATA FOR A MEANINGFUL ANSWER.</h4>
  </div>
</div>
