/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "*";


body {
  font-family: Avenir;
  margin: 0;
}

#application-body {
  background: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-image {
  width: 100%;
}


#myCarousel {
  overflow: hidden;
}


.text {
  top: 0px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  left: 0;
}

.apply-gradient {
  background: rgba(0,0,0,0.59);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.59) 0%, rgba(0,0,0,0.41) 31%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.59)), color-stop(31%, rgba(0,0,0,0.41)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.59) 0%, rgba(0,0,0,0.41) 31%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.59) 0%, rgba(0,0,0,0.41) 31%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.59) 0%, rgba(0,0,0,0.41) 31%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.59) 0%, rgba(0,0,0,0.41) 31%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}


#main-title {
  padding-top: 40px;
  padding-bottom: 15px;
  color: white;
  font-family: avenir;
}


.section-header {
  height: 600px;
  text-align: center;
}


.link {
  background-opacity: 100%;
  color: white !important;
  width: 100%;
  font-family: Avenir;
  font-size: 20px;
  margin: auto;
}

.dropdown-menu {
  position: relative;
  left: 50px;
  background: none;
}

.dropdown-menu > li > a {
  color: white;
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.3);
  transform: scaleX(0.3);
}


.nav > li > a.link:hover,
.nav > li > a.link:focus {
  background: none;
}

ul.nav {
  width: 100%;
}

ul.nav > li.home-link {
  width: 25%;
}

.content-nav-container {
  background-color: black;
  font-size: 20px;
  text-align: right;
}

.content-nav-link {
  margin: auto;
}

.app-navbar {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.input-field {
  width: 90%;
  margin: 5px;
}

.dropdown-menu {
  position: absolute;
}
