// Place all the styles related to the foodlogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Styling for meal plan area
#plan-area {
  border: thin solid black;
  width: 85%;
  margin-top: 50px;
  margin-bottom: 130px;
  background-color: white;
  min-height: 600px;
  opacity: 0.95;
}

.meal-plan-image {
  width: 90%;
  margin-bottom: 25px;
}

ul.recipe-ingredients {
  text-align: left;
  margin: auto 0;
  padding-left: 50px;
}

ol.recipe-directions {
  text-align: left;
  margin: auto 0;
}
#calorie-bar {
  transition: width 2s;
}

.recipe-wrapper {
  padding: 0;
}


.meal-button {
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  margin: 15px;
  padding: 8px;
  box-shadow: 0px 0px 3px black;
  text-shadow: 1px 1px 3px white;
  &:hover {
    -webkit-transform: scale(1.05);
    box-shadow: 1px 1px 3px black;
    text-decoration: none;
    color: black;
  }
}

.remove-meal-button {
  background-color: red;
  &:hover {
    background-color: red;
  }
}
.edit-meal-button {
  background-color: #18E8DD;
  &:hover {
    background-color: #18E8DD;
  }
}


.foodlog-display {
  display: inline-block;
  width: 30%;
  height: 400px;

}

.foodlog-image {
  width: 90%;
  // float: left;
}

#foodlogs-history {
  padding: 25px;
}

#date-entry {
  width: 200px;
  margin: 0 auto;
  display: inline-block;
}
input[type=date]#foodlog-date {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: avenir, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: lighten(#2f2f2f,40%);
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: black;
  background-color: lighten(#2f2f2f,40%);
  color: darken(#fff, 10%);
  cursor: pointer;

  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;
    color: black;

    &:active {
      color: blue;
    }
  }
}

#date-update {
  height: 35px;
  border: 0;
}
