// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

// Styling for sign in/sign up modals
.sign-in-body {
  background-color: lightgray;
  form {
    input.sign-up-input {
      width: 100%;
      margin: 5px 0px 5px 0px;
      padding: 4px;
    }
    div {
      input.log-in-input {
        width: 100%;
        margin: 10px 0px 10px 0px;
        padding: 4px;
      }

    }
    input.log-in-button {
      width: 100%;
      margin: 10px 0px 10px 0px;
      background-color: #00CCBD;
      border-color: #00CCBD;
    }
  }
  h5 {
    a#link-to-sign-up {
      color: #337ab7;
      text-shadow: none;
      opacity: 1;
      clear: right;
      font-weight: normal;
      font-size: 1em;
      float: none;
      margin: 5px;
    }
    a#link-to-sign-up:hover {
      text-decoration: underline;
    }
  }
}

#units-selection-box {
  width: 250px;
  height: 75px;
  margin: auto;
  margin-top: 40px;
}

.units {
  line-height: 50px;
  border: thin solid black;
  box-shadow: 0 0 5px 0 black;
  background-color: white;
  opacity: 0.4;
}

#metric {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.03);
    z-index: 2;
  }
}

#imperial {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  &:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.03);
    z-index: 2;
  }
}

.units-selected {
  color: red;
  opacity: 1 !important;
}


// Customizing slider
input[type=range] {
  opacity: 0;
  // -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  border: 0.2px solid #010101;
  // background: rgb(4, 155, 255);
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid white;
  height: 60px;
  width: 10px;
}



input.slide {
  position: relative;
  width: 95%;
  z-index: 5;
  margin: auto;
}

.slide-background{
  background: white;
  position: absolute;
  border: thin solid black;
  width: 95%;
  height: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // background: white; //rgb(4, 155, 255)
  border-radius: 3px;
  border: 0.2px solid #010101;
  margin-left: 2.5%;
}


.colored-slide{
  height: 30px;
  border-radius: 5px;
  background: rgb(4, 155, 255);
  width: 0;
  position: absolute;
  z-index: 2;
  border: thin solid black;
  margin-left: 2.5%;
}


.thumb {
  position: absolute;
  z-index: 4;
  box-shadow: 0 2px 20px 0 #009aff;
  border: 1px solid white;
  height: 60px;
  width: 10px;
  border-radius: 5px;
  background: rgb(4, 155, 255);
  -webkit-appearance: none;
  margin-top: -15px;
  visibility: visible;
  margin-left: 2.5%;
}


#stats-form-container {
  background-color: #DDE1E5;
  width: 80%;
  margin: auto;
  opacity: 0.9;
  form {
    div.category {
      input#sex-input {
        visibility: hidden;
      }
      input#activity-input {
        visibility: hidden;
      }
      div.activity-form {
        text-align: center;
      }
    }
  }
}

.stats-text-field {
  height: 50px;
  // margin-left: 40px;
  // margin-right: 10px;
  width: 80px;
  text-align: center;
  font-size: 25px;
}

.entry {
  padding: 0px;
}

.row {
  width: 100%;
  margin: auto;
}


.box {
  position: relative;
  height: 80px;
  border: solid thin black;
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 black;
  width: 80%;
  &:hover {
    -webkit-transform: scale(1.03);
    opacity: 1;
  }
}

.btn-title {
  margin-top: 26px;;
}

.sex-box {
  height: 80px;
  width: 80%;
}



.option-selected {
  color: red;
  border-color: red;
  opacity: 1 !important;
}

.activity {
  opacity: 0.6;
  background-color: white;
}

.sex-box {
  opacity: 0.6;
  background-color: white;
}

.activity:hover #tooltiptext1 {
  display: block;
}

.activity:hover #tooltiptext2 {
  display: block;
}

.activity:hover #tooltiptext3 {
  display: block;
}

.activity:hover #tooltiptext4 {
  display: block;
}


.tooltiptext {
  width: 200px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 20px;
  position: absolute;
  top: 80px;
  z-index: 1;
  display: none;
}



.category label{
  margin: 20px 0;
}

#stats-submit-btn {
  margin: 50px 0;
  width: 350px;
  height: 75px;
  border-radius: 60px;
  background-color: rgb(4, 155, 255);
  font-size: 30px;
  color: white;
}

#stats-submit-btn:hover {
  opacity: 0.9;
}

#results-message {
  padding-bottom: 50px;
  font-weight: bold;
}
