<div style="height: 1000px" class="col-md-12" >
  <div id="graph-container">
    <h1>My Progress</h1>
    <div class="graph-wrapper">
      <canvas id="stats_charts"></canvas>
      <canvas id="steps_chart"></canvas>
    </div>
  </div>

</div>
